{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Cancel court appearance - View and manage court appearances' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">View and manage court appearances</span>
    <h1 class="govuk-heading-l">Are you sure you want to cancel {{ prisonerDetails | firstNameSpaceLastName | possessiveComma }} court appearance?</h1>
    {{ govukWarningText({
      text: "This action cannot be reversed.",
      iconFallbackText: "Warning"
    }) }}
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <div class="govuk-button-group">
        {{ govukButton({
          classes: "govuk-button--warning",
          text: "Cancel this appearance",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Do not cancel this appearance",
          href: '/court-appearances/' + courtAppearance.id,
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
