{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/validatedTimeInput/macro.njk" import validatedTimeInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Enter the court details for this appearance - Add a court appearance' %}

{% block meta %}
  <meta name="autocompleteElements" content="court"/>
  <meta name="autocompleteElements" content="reason"/>
{% endblock %}

{% set customErrorOrder = ['startDate', 'startTime', 'startTimeHour', 'startTimeMinute', 'court', 'reason'] %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Add a court appearance</span>
    <h1 class="govuk-heading-l">Enter the court details for this appearance</h1>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ mojDatePicker({
        id: "startDate",
        name: "startDate",
        label: {
          text: 'What date will ' + prisonerDetails | firstNameSpaceLastName | possessiveComma + ' court appearance be?',
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: 'For example, 17/5/2024.'
        },
        value: startDate,
        errorMessage: validationErrors | findError('startDate'),
        classes: 'hmpps-datepicker--fixed-width govuk-body',
        minDate: inputDate()
      }) }}

      {{ validatedTimeInput({
        id: "startTime",
        name: "startTime",
        classes: 'govuk-!-static-margin-bottom-6',
        fieldset: {
          legend: {
            text: 'What time will ' + prisonerDetails | firstNameSpaceLastName | possessiveComma + ' court appearance be?',
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: 'Use the 24-hour clock. For example, 09 08 or 17 32.'
        },
        validationErrors: validationErrors,
        hour: startTimeHour,
        minute: startTimeMinute
      }) }}

      {{ govukSelect({
        id: "court",
        name: "court",
        label: { text: "Which court is this appearance at?", classes: "govuk-label--m" },
        hint: { text: "Start typing the name of the court" },
        items: courts | fromCodedDescription | addSelectValue('') | setSelectedValue(court),
        errorMessage: validationErrors | findError('court')
      }) }}

      {{ govukSelect({
        id: "reason",
        name: "reason",
        label: { text: "Enter a reason for this court appearance", classes: "govuk-label--m" },
        hint: { text: "Start typing the reason" },
        items: reasons | fromCodedDescription | addSelectValue('') | setSelectedValue(reason),
        errorMessage: validationErrors | findError('reason')
      }) }}

      {{ govukButton({
        classes: 'govuk-!-margin-top-6',
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
